<div>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitInitiativePath %>" method="post">
    <% if (!initiative.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div>
      <label for="title">Título</label>
      <input type="text" name="title" value="<%= initiative.title %>" />
    </div>
    <div>
      <label for="description">Descripción</label>
      <textarea type="text" name="description"><%= initiative.description %></textarea>
    </div>
    <div>
      <label for="active">Activa?</label>
      <input type="checkbox" name="active" <%= initiative.active ? 'checked' : '' %> />
    </div>
    <div>
      <% if (initiative.isNewRecord) { %>
        <input type="submit" name="create" value="Crear" />
      <% } else { %>
        <input type="submit" name="update" value="Guardar" />
      <% } %>
    </div>
  </form>
</div>
