<div>
  <h1>Crea tu cuenta de usuario</h1>
  <% if (locals.errors) { %>
    <div class="errors">
      Necesitas arreglar los siguiente errores:
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= createUserPath %>" method="post">
    <div>
      <label for="email">e-mail</label>
      <input type="email" name="email" value="<%= user.email %>" />
    </div>
    <div>
      <label for="password">contraseña</label>
      <input type="password" name="password" value="<%= user.password %>" />
    </div>
    <div>
      <label for="firstName">nombre</label>
      <input type="text" name="firstName" value="<%= user.firstName %>" />
    </div>
    <div>
      <label for="lastName">apellido</label>
      <input type="text" name="lastName" value="<%= user.lastName %>" />
    </div>
    <div>
      <input type="submit" name="create" value="Crear cuenta" />
    </div>
  </form>
</div>
